.App {
  text-align: center;
  border-bottom: 5px solid black;
  margin-bottom: 2%;
}

.content {
  display: flex;
  width: 50%;
  margin: auto;
  height: 50vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  border: 2px solid darkcyan;
  width: 25%;
  height: 15vh;
  margin-right: 2%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.box #boxTxt {
  font-size: xxx-large;
  font-weight: bolder;
}

#footer {
  border: 2px dashed greenyellow;
  margin: 2vh auto 1vh auto;
  width: 75%;
  text-align: center;
}

#clickBtn {
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
  background-color: crimson;
  color: white;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: large;
  text-transform: uppercase;
  align-self: center;
  position: absolute;
  top: 2%;
  right: 1%;
}